$title-large: 3rem;
$title-middle: 2.5rem;
$title-middle: 2rem;

$text-large: 2.3rem;
$text-middle: 1.8rem;
$text-middle: 1.2rem;

$sub-text-large: 2.0rem;
$sub-text-large: 1.4rem;
$sub-text-large: 1rem;
