@import "constants/font-size";
@import "mixin/adaptive";
@import "pages/authorization";

html {
  height: 100%;

  & * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
  }

  & body {
    height: 100%;
  }
}