@import "../components/form-authorization";

.page-authorization {
  height: 100%;

  &-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfeff;
  }
}